apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommender-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: recommender
  template:
    metadata:
      labels:
        app: recommender
    spec:
      containers:
        - name: recommender
          image: streamhive-recommender:latest
          ports:
            - containerPort: 8000
          resources:
            limits:
              cpu: "500m"
            requests:
              cpu: "250m"
